<div>
  <h2 id="page-heading" data-cy="RetailerHeading">
    <span class="text-center" jhiTranslate="myFirstJhipsterApp.retailer.home.title">Retailers</span>

  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="retailers?.length === 0">
    <span jhiTranslate="myFirstJhipsterApp.retailer.home.notFound">No retailers found</span>
  </div>

  <div class="table-responsive shadow-lg mt-3 pb-5" id="entities">
    <div>
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myFirstJhipsterApp.retailer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-retailer"
        [routerLink]="['/retailer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myFirstJhipsterApp.retailer.home.createLabel"> Create a new Retailer </span>
      </button>
    </div>
    <mat-progress-bar *ngIf="isLoading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
    <table mat-table matSort matSortActive="id" matSortDirection="desc" [dataSource]="retailers" class="mat-elevation-z8 col-12">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.name}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.address}} </td>
      </ng-container>
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mail </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.mail}} </td>
      </ng-container>
      <ng-container cdkColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>View</th>
        <td mat-cell *matCellDef="let retailer">
          <button [routerLink]="['/retailer', retailer.id, 'view']" mat-raised-button color="primary">View</button>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let retailer">
          <button [routerLink]="['/retailer', retailer.id, 'edit']"
                  mat-raised-button color="accent">Edit
          </button>
        </td>
      </ng-container>
      <ng-container cdkColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let retailer">
          <button (click)="delete(retailer)" mat-raised-button color="warn">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



    </table>

    <mat-paginator [length]="totalItems"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25,100]"
                   aria-label="Select page">

    </mat-paginator>


  </div>
