<div>
  <h2 id="page-heading" data-cy="ODFHeading">
    <span jhiTranslate="myFirstJhipsterApp.oDF.home.title">ODFS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myFirstJhipsterApp.oDF.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-odf"
        [routerLink]="['/odf/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myFirstJhipsterApp.oDF.home.createLabel"> Create a new ODF </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="oDFS?.length === 0">
    <span jhiTranslate="myFirstJhipsterApp.oDF.home.notFound">No oDFS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="oDFS && oDFS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="myFirstJhipsterApp.oDF.id">Id</span></th>
          <th scope="col"><span jhiTranslate="myFirstJhipsterApp.oDF.status">Status</span></th>
          <th scope="col"><span jhiTranslate="myFirstJhipsterApp.oDF.operationName">Operation Name</span></th>
          <th scope="col"><span jhiTranslate="myFirstJhipsterApp.oDF.dateofcreation">Dateofcreation</span></th>
          <th scope="col"><span jhiTranslate="myFirstJhipsterApp.oDF.dateofmodification">Dateofmodification</span></th>
          <th scope="col"><span jhiTranslate="myFirstJhipsterApp.oDF.lastmodificationuser">Lastmodificationuser</span></th>
          <th scope="col"><span jhiTranslate="myFirstJhipsterApp.oDF.people">People</span></th>
          <th scope="col"><span jhiTranslate="myFirstJhipsterApp.oDF.jobHistory">Job History</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oDF of oDFS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/odf', oDF.id, 'view']">{{ oDF.id }}</a>
          </td>
          <td>{{ oDF.status }}</td>
          <td>{{ oDF.operationName }}</td>
          <td>{{ oDF.dateofcreation | formatMediumDate }}</td>
          <td>{{ oDF.dateofmodification | formatMediumDate }}</td>
          <td>{{ oDF.lastmodificationuser }}</td>
          <td>
            <div *ngIf="oDF.people">
              <a [routerLink]="['/people', oDF.people?.id, 'view']">{{ oDF.people?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="oDF.jobHistory">
              <a [routerLink]="['/job-history', oDF.jobHistory?.id, 'view']">{{ oDF.jobHistory?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/odf', oDF.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/odf', oDF.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(oDF)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
